#mapImg {
  position:absolute;
}

#mapFrame {
  top:10px;
  left:10px;
  border-style: solid;
  border-color: #00FFFF;
  border-width: 20px;
  overflow: hidden;
  position: absolute;
}

/*button {
  background color: blue;
}*/

#left {
  margin-right: 20px;
}

#zooming {
  margin-top: 20px;
}

input {
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: black;

}

#mapnavigation {
  width: 100px;
  height: 230px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  margin: 20px;
}

#directions {
  margin-top: 40px;
}

