input {
	margin: 4px;
}

#mapImg {
	position: absolute;
}
#mapImg {
	position: absolute;
	/*width: 800px;
	height: 600px;*/
}

#mapFrame {
	overflow: hidden;
	position: absolute;
	border: solid gray;
	border-width: 20px;
	top: 10px;
	left: 10px;
	/*width: 820px;
	height: 620px;*/
}

#mapNavigation {
	
	width: 100px;
	height: 200px;
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 20px;
	/*float:right;*/
	text-align: center;
	background-color: #d3d3d3;
	opacity: 0.5;
}

#zooming {
	margin-top: 20px;
	/*float: right;
	text-align: center;
	margin-bottom: */
}

#directions {
	margin-top: 40px;
	/*float: right;
	text-align: center;*/
}



#left {
	margin-right: 20px;
}


